
@model Web.ViewModels.ErrorViewModel

<div>
    <div>
        <h3>
            Application Error: @Model.ErrorMessage
        </h3>
        <h4>
            Sorry, The Page, You are Looking for is not found.
        </h4>
        <br />
        <br />
    </div>
</div>
